{% extends "base.j2" %}

{% block menu %}
         <div class="menu">         
                        <a class="" href="/">home</a>
                         /
                        <a class="active" href="/about">about</a>
                </div>
{% endblock %}

{% block content %}

<div class="gallery-title">
About JumpingCow
</div>

<section id="desktop" class="section work">
	<div class="center hidden-menu">
    </div>
	
All sorts of fun with AI Art - in particular, Stable Diffusion, but some Dalle-2 and MidJourney thrown in for good measure.

</section>

<section id="mobile" class="section work">
	<div class="center hidden-menu">
    </div>
	
All sorts of fun with AI Art - in particular, Stable Diffusion, but some Dalle-2 and MidJourney thrown in for good measure.

</section>

{% endblock %}