{% extends "base.j2" %}

{% block menu %}
         <div class="menu">         
                        <a class="active" href="/">home</a>
                         /
                        <a class="" href="/about">about</a>
                </div>
{% endblock %}

{% block content %}

<div class="gallery-title">
Galleries
</div>

<section id="desktop" class="section work">
	<div class="center hidden-menu">
    </div>
	

<div class="columns work-width ">
{% for column in desk_columns %}
 <div class="column">
{% for gallery in column %}
       
                    <div class="center">
                        <div class="image-box ">
                            <a href="gallery_{{ gallery.name }}.html">
                                <img
                                {% if mode == "local" %}
                                src="{{ imageurl }}/{{ gallery.src_imageurl_subdir }}/{{ gallery.home_image_name }}"
                                {% else %}
                                src="{{ imageurl }}/{{ mode }}/{{ gallery.home_image_name }}"
                                {% endif %}

                                {# src="{{ gallery.imageurl }}/{{ gallery.imageurl_subdir }}/{{ gallery.home_image_name }}" #}
                                loading="lazy"
                                width="512"
                                height="512"
                                onclick="openSlider();currentSlide( 1 )"
                                />
                            </a>
                                
                                <p class="gallery-subtitle">{{ gallery.title }} </p>
                                <p>{{ gallery.n_images }} images </p>
                                <p>Last Updated: {{ gallery.date_updated }}</p>
                          
                        </div>
                        
                    </div>
        
{% endfor %}
</div>
{% endfor %}
     
</div>
</section>

<section id="mobile" class="section work">
	<div class="center hidden-menu">
    </div>
	

<div class="columns work-width  is-mobile is-multiline ">
{% for column in mobile_columns %}
        <div class="column">
{% for gallery in column %}
                    <div class="center">
                        <div class="image-box  alittle ">

                            <a href="gallery_{{ gallery.name }}.html">
                                <img
                                {% if mode == "local" %}
                                src="{{ imageurl }}/{{ gallery.src_imageurl_subdir }}/{{ gallery.home_image_name }}"
                                {% else %}
                                src="{{ imageurl }}/{{ mode }}/{{ gallery.home_image_name }}"
                                {% endif %}

                                {# src="{{ gallery.imageurl }}/{{ gallery.imageurl_subdir }}/{{ gallery.home_image_name }}" #}
                                loading="lazy"
                                width="512"
                                height="512"
                                onclick="openSlider();currentSlide( 1 )"
                                />
                            </a>
                                
                                <p class="gallery-subtitle">{{ gallery.title }} </p>
                                <p>{{ gallery.n_images }} images </p>
                                <p>Last Updated: {{ gallery.date_updated }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                    {% endfor %}

</div>
</section>

{% endblock %}